<h2>Welcome to Tech Vision Store!</h2>
<p>Explore a wide range of essentials, electronics, clothing, outdoor gear, and pet products at unbeatable prices!</p>
<section>
    <h1>Hot Deals!</h1>
    <div id="main-content"></div>
</section>
<section>
    <h1>Newsletter Sign-Up</h1>
    <p>Stay informed about our latest offers, exclusive deals, and exciting new products.</p>
    <form id="myForm" class="form-newsletter">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" required />
            <div id="emailHelp" class="form-text">We respect your privacy and will never share your email.</div>
        </div>
        <div class="mb-3">
            <label for="name">Enter your name:</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</section>
